@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-size: 16px; 
    font-size: 62.5%;
    --bg-primaria: #141414;
    --color-text-primario: #ffffff;
    --color-text-secundario: #FE5A07;
    --color-text-hover: #999999;
    --bd-color-primario: #ffffff;
    --bd-color-hover: #999999;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-primaria);
    font-size: 1.8rem;
    color: var(--color-text-primario);  

}

.container {
    max-width: 120rem;
    width: 100%;
    margin: auto;
    padding: 0 2rem;
}

.logo  a {
    font-family: 'Calistoga', cursive;
    font-size: 3.6rem;
    color: var(--color-text-primario);
}

.logo a span {
    color: var(--color-text-secundario);
}